.waipperSpans {
    display: flex;
    /*border: 2px solid red;*/
    align-items: center;
    flex-wrap: wrap;
}

.pageNumber {
    padding: 2px 5px;
    border: 1px solid yellow;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.pageNumber:hover {
    box-shadow: 0 0 5px 5px yellow;
    color: hotpink;
}

.pageNumber.selectedPage {
    font-size: 2em;
    font-weight: bold;
    color: orange;
    padding: 2px 5px;
    cursor: default;
}
.pageNumber.selectedPage:hover {
    box-shadow: none;
}