.header {
    grid-area: h;
    background: rgba(0, 128, 0, 0.75);
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 50px;
}

.loginBlock{
    display: flex;
    align-items: center;
    color: white;
}

.navLinkLogin {
    color: white;
}
.propsLogin {
    color:red;
    font-weight: bold;
    font-size: 20px;
}