.app-wripper {
    width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 11fr;
    grid-gap: 10px;
}

.app-wripper-content {
    grid-area: c;
    background: rgba(0, 90, 128, 0.75);
}