.dialogs {
    display: grid;
    grid-template-columns: 3fr 11fr;
}

.dialogsItems {
    padding: 10px;
}

/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/



.messages {
    padding: 10px;
    border: 5px solid rgba(255, 0, 0, 0.32);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(173, 255, 47, 0.16);
    border-radius: 20px;
}
